<% content_for :head do %>
	<div class="hero-unit">
		<h1>New to BareGrades?</h1>
		<p>We offer students a way to manage their grades without relying upon a professor. You can see what grade you have in each of your classes, when your assignments are due, and whether or not your grades have been improving. We are currently in public alpha and would love to have you test out our app!</p>
		<%= link_to "Sign up for FREE!", register_path(), :class => "btn btn-primary btn-large" %>
	</div>
<% end %>

<div style="height: 30px;"></div>

<ul class="thumbnails">
	<li class="span3">
		<div class="thumbnail">
			<div class="caption">
				<img src="/assets/icons/home/management.png"/>
				<h3>Grades</h3>
				<p>Post all of your grades inside of classes you create. Don't worry about the professor updating them, you control them all!</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<div class="caption">
				<img src="/assets/icons/home/tracking.png"/>
				<h3>Assignments</h3>
				<p>Stop waiting for assignments to be announced in class. Take control of your schedule with an interactive assignment calendar</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<div>
				<img src="/assets/icons/home/analysis.png"/>
				<h3>Statistics</h3>
				<p>Wonder how you are doing in a class? View your grades over time as a whole and broken up by type.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<div class="caption">
				<img src="/assets/icons/home/themes.png"/>
				<h3>Themes</h3>
				<p>Not happy with the way that BareGrades looks by default? Take control by apply one of our crazy awesome themes!</p>
			</div>
		</div>
	</li>
</ul>