<% content_for :head do %>
	<% render "courses/head", :subpage => "#{@assignment_type.name} :: Edit" %>
<% end %>

<h1>Editing assignment_type</h1>

<%= render "form" %>

<%= link_to "Back", @assignment_type %>
