<% content_for :head do %>
	<h1>Reset Password</h1>
<% end %>

<%= form_tag "resetPassword" do |f| %>

	<%= text_field_tag :user, "", popover("Email or Username", "The only way to reset your password is by giving us your username or the email address associated with your account. We will email that user their new random password.", ["test@baregrades.com"]) %>
	
	<%= submit_tag "Reset Password", class:"btn btn-primary" %>
<% end %>