<% content_for :head do %>
	<h1>Reset Password</h1>
<% end %>

<%= form_tag "resetPassword" do |f| %>
	<br/>
	
	<div class="input-prepend">
		<span class="add-on"><i class="icon-envelope"></i></span>
		<%= text_field_tag :email, "Email" %>
	</div>
	
	<br/>
	<%= submit_tag "Reset Password", class:"btn btn-primary" %>
<% end %>