<% content_for :head do %>
	<% render "courses/head" %>
<% end %>

<%= render "courses/navigation" %>

<form>
	<select name="charts">
		<option value="summary">Summary</option>
		<option value="assignment_types">Assignment Types</option>
		<option value="assignments">Assignments over Time</option>
	</select>
</form>

<div id="chart">
	<img src="/assets/loader.gif" alt=""/>
</div>

<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	
	var charts = {};

	$(document).ready(function() {
		var chart = new Chart("<%= course_analysis_path(@course, format:"json") %>");
		chart.setType("column");
		chart.setHTitle("Course Summary");
		charts["summary"] = chart;

		var chart = new Chart("<%= assignment_types_analysis_path(@course, format:"json") %>");
		chart.setType("column");
		chart.setHTitle("Assignment Types");
		charts["assignment_types"] = chart;

		var chart = new Chart("<%= assignments_analysis_path(@course, format:"json") %>");
		chart.setType("line");
		chart.setHTitle("Assignments over Time");
		charts["assignments"] = chart;
		
		updateChart();

		$('select[name="charts"]').change(function() {
			updateChart();
		});
	});
	
	function updateChart() {
		var value = $('select[name="charts"] option:selected').val();

		var chart = charts[value];
		chart.draw("chart");
	}
</script>