<div class="notifications">
	<section>
		<header>
			<a href="#"><i class="icon icon-remove"></i></a>
			<h1>Assignment Disabled?</h1>
		</header>
		<div>
			<div class="btn-group">
				<a href="#" class="btn">Yes</a>
				<a href="#" class="btn btn-danger">No</a>
			</div>

			<p>A lot of your friends have disabled <strong>"Homework 1"</strong> from <strong>"Parallel Computing"</strong>. Is this correct?</p>		
		</div>
	</section>

	<section>
		<header>
			<a href="#"><i class="icon icon-remove"></i></a>
			<h1>Assignment Updated</h1>
		</header>
		<div>
			<p>Another student has updated the worth to <strong>"Homework 1"</strong> from <strong>"Parallel Computing"</strong>. The assignment is now worth <strong>5.0 points</strong>.</p>
		</div>
	</section>
</div>