<% content_for :head do %>
	<h1>Change Log</h1>
<% end %>

<% render "home/navigation" %>

<div class="accordion" id="accordion1">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#three" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
				Version 1.0.2
			</a>
		</div>
		<div id="three" class="accordion-body collapse in">
			<div class="accordion-inner">
				<ul>
					<li>Removed Course Name from Calendar</li>
					<li>Added Course Name tooltip to Calendar</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#two" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
				Version 1.0.1
			</a>
		</div>
		<div id="two" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li><strong>Added Grade Report with printable styles</strong></li>
					<li><strong>Added GPA Prediction</strong></li>
					<li><strong>Course Page Changes</strong>
						<ul>
							<li>Added a date picker option for assignments!</li>
							<li>Added a dropdown menu for assignments!</li>
						</ul>
					</li>
					<li>Improved mobile theme.</li>
					<li>Added two themes: Condensed Milk, Whiteness.</li>
					<li>Optimized "Assignment Type" grade (no effect on output).</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#one" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" >
				Version 1.0
			</a>
		</div>
		<div id="one" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li>Register user</li>
					<li>Manage courses</li>
					<li>Manage grades</li>
					<li>Class progress</li>
					<li>Statistical analysis</li>
					<li>Class targetting</li>
					<li>Calendar view</li>
					<li>Password reset</li>
					<li>Submit feedback</li>
					<li>User themes</li>
				</ul>
			</div>
		</div>
	</div>
</div>