<% content_for :head do %>
	<h1>Change Log</h1>
<% end %>

<% render "home/navigation" %>

<div class="accordion" id="accordion1">
<% @versions.each_with_index do |(version, changes), i| %>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#slider-<%= i %>" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
				Version <%= version %>
			</a>
		</div>
		<div id="slider-<%= i %>" class="accordion-body collapse <%= i != 0 ? "out" : "in" %>">
			<div class="accordion-inner">
				<ul>
					<%
						changes.each do |change|
							concat content_tag(:li, raw(change))
						end
					%>
				</ul>
			</div>
		</div>
	</div>
<% end %>
</div>