<% content_for :head do %>
	<h1>Change Log</h1>
<% end %>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapseOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" >
				Version 1.0
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				<ul>
					<li>Register user</li>
					<li>Manage courses</li>
					<li>Manage grades</li>
					<li>Class progress</li>
					<li>Statistical analysis</li>
					<li>Class targetting</li>
					<li>Calendar view</li>
					<li>Password reset</li>
					<li>Submit feedback</li>
					<li>User themes</li>
				</ul>
			</div>
		</div>
	</div>
	
   <!-- Example for more
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapseTwo" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
				Version 1.1
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse in">
			<div class="accordion-inner">
				<ul>
					<li>Register user</li>
					<li>Manage courses</li>
					<li>Manage grades</li>
					<li>Class Progress</li>
					<li>Analysis</li>
					<li>Class Targetting</li>
					<li>Calendar view</li>
					<li>Password reset</li>
					<li>Submit Feedback</li>
					<li>Themes</li>
				</ul>
			</div>
		</div>
	</div>
	-->
</div>