<% content_for :head do %>
	<h1>Help</h1>
<% end %>

<% content_for :tutorials do %>
	<li><a href="#join_course">Join a Course</a></li>
	<li><a href="#add_course">Add a Course</a></li>
	<li><a href="#edit_course">Edit a Course</a></li>
	<li><a href="#grade_assignment">Grade an Assignment</a></li>
	<li><a href="#add_assignment">Add an Assignment</a></li>
	<li><a href="#edit_assignment">Edit an Assignment</a></li>
	<li><a href="#add_assignment_type">Add an Assignment Type</a></li>
	<li><a href="#edit_assignment_type">Edit an Assignment Type</a></li>
	<li><a href="#disable_assignment_type">Disable an Assignment Type</a></li>
	<li><a href="#edit_personal_information">Edit Personal Information</a></li>
	<li><a href="#change_password">Change Your Password</a></li>
	<li><a href="#change_theme">Change Your Theme</a></li>
<% end %>

<% content_for :reference do %>
	<li><a href="#courses">Courses</a></li>
	<li><a href="#assignment_types">Assignment Types</a></li>
	<li><a href="#assignments">Assignments</a></li>
	<li><a href="#grades">Grades</a></li>
	<li><a href="#faq">FAQ</a></li>
<% end %>

<div class="page-header">
	<h1>Tutorials</h1>
</div>

	<h2><a name="join_course"></a>Join a Course</h2>
		<ul class="steps">
			<li>Click the "Add Course" button from the navigational menu.</li>
			<li class="optional">Search for a key term from the course using the search bar.</li>
			<li>Click the "Join" button to the left of the desired course.</li>
		</ul>
	
	<h2><a name="add_course"></a>Add a Course</h2>
		<ul class="steps">
			<li>Click the "Add Course" button from the navigational menu.</li>
			<li class="optional">Check if your class already exists by searching using the search bar.</li>
			<li>Click the "Create New Course" link at the bottom of the page.</li>
			<li>Enter your course's information into the creation form. For help with the fields, see the reference section of the manual.</li>
			<li>Click "Create Course" at the bottom of the page.</li>
		</ul>

	<h2><a name="edit_course"></a>Edit a Course</h2>
		<ul class="steps">
			<li></li>
		</ul>

	<h2><a name="grade_assignment"></a>Grade an Assignment</h2>
	<h2><a name="add_assignment"></a>Add an Assignment</h2>
	<h2><a name="edit_assignment"></a>Edit an Assignment</h2>
	<h2><a name="add_assignment_type"></a>Add an Assignment Type</h2>
	<h2><a name="edit_assignment_type"></a>Edit an Assignment Type</h2>
	<h2><a name="disable_assignment_type"></a>Disable an Assignment Type</h2>
	<h2><a name="edit_personal_information"></a>Edit Personal Information</h2>
	<h2><a name="change_password"></a>Change Your Password</h2>
	<h2><a name="change_theme"></a>Change Your Theme</h2>

<div class="page-header">
	<h1>Reference</h1>
</div>

	<h2><a name="courses"></a>Courses</h2>
	<h2><a name="assignment_types"></a>Assignment Types</h2>
	<h2><a name="assignments"></a>Assignments</h2>
	<h2><a name="grades"></a>Grades</h2>
	<h2><a name="faq"></a>FAQ</h2>