<% content_for :head do %>
	<h1>Privacy</h1>
<% end %>

<h1>We have a Privacy Policy!</h1>
<p>BareGrades is committed to keeping your private data private. We will do this by never releasing your information  and doing our best to keep it safe.</p>
<p>Since BareGrades is in active development, we do have one caveat. During the debugging process, your information may be visible to our administrators. These administrators will never use this information for anything other than debugging.</p>