<% content_for :head do %>
	<h1>Terms of Service and Privacy Policy</h1>
<% end %>

<h1>We have a Terms of Service and Privacy Policy!</h1>
<p>BareGrades is a user driven application. Users control the material on this site. We do not like users uploading mature content; however, the administrators are not required to monitor this site. 
Warning, this site may have mature or explicit content uploaded by users. In addition course content is also uploaded by users and not necessarily by professors. 
BareGrades cannot guarantee correct grades even if all of the course information is entered correctly. BareGrades also wants users to be aware of other potential malicious users. 
Users have to take the responsible to manage their courses correctly.</p>

<p>BareGrades is committed to keeping your private data private. We will do this by never releasing your information  and doing our best to keep it safe. We may disclose anonymous demographic information.</p>
<p>Since BareGrades is in active development, we do have one caveat. During the debugging process, your information may be visible to our administrators.</p>

<p><em>We reserve the right to make changes to the privacy policy and terms of service at any time with or without notice. Entering information into the BareGrades site constitues agreement with the privacy policy and terms of service.</em></p>