<h1>Access</h1>
<h2>The roles assigned to <%= @user.first_name %></h2>
<ul>
	<%=
		if @roles.each do |role|
			content_tag(:li, role.name)
		end.empty?
			content_tag(:li, "This user has no responsibilities. Maybe he should get a job.");
		end
	%>
</ul>

<h2>All Accesses</h2>
<ul>
	<%=
		@all_access.each do |access|
			content_tag(:li, @access)
		end
	%>
</ul>