<% if !grade_scale.blank? %>
	<%= link_to "Edit Grade Scale", edit_course_grade_scale_path(course, grade_scale) %>
	<% grade_scale.attributes.each do |attr_name, attr_value| %>
		<% if !attr_value.blank? &&
		attr_name != "id" &&
		attr_name != "course_id" &&
		attr_name != "created_at" &&
		attr_name != "updated_at" %>			
			<p><%= attr_name%> = <%= attr_value%></p>
		<% end %>
	<% end %>
<% else %>
	A grade scale has not been created! <%= link_to "new Grade Scale", new_course_grade_scale_path(course, grade_scale) %>
<% end %>