<div class="pull-right">
	<span title="# Students in Course">
		<!-- <img src="/assets/user.png" alt=""/> -->
		<%= number_of_students %>
	</span>
	<%=
		if @current_user.is_administrator?
			link_to "View", course_users_path(@course)
		end
	%>
</div>