<% content_for :head do %>
	<% render "head" %>
<% end %>
<% content_for :nav do %>
	<%= render partial:"courses/navigation", :locals => {subpage:"info"} %>
<% end %>

<h1>Course Info <small>Edit</small></h1>

<%= render "form" %>
