<% content_for :head do %>
	<% render "head", :subpage => "Users" %>
<% end %>
<% content_for :nav do %>
	<%= render :partial => "courses/navigation" %>
<% end %>

<h1>Current Course Memebers</h1>
<ul>
	<% @course.users.each do |user| %>
		<li><%= user.name %></li>
	<%end %>
</ul>