<% content_for :head do %>
	<% render "head", :subpage => "Users" %>
<% end %>
<% content_for :nav do %>
	<%= render :partial => "courses/navigation" %>
<% end %>

<h1>Current Users</h1>
<ul>
	<% 
		@course.users.each do |user| 
			concat content_tag(:li, user.name)
		end
	%>
</ul>