@import "bootstrap";

body {
	margin-top: 40px;
	margin-bottom: 50px;}

ul {
	margin-left: 50px;}

.input-prepend {
	margin-bottom: 10px;}

div.dropdown-menu {
	padding: 15px 15px 0;}

.table-middle td , .table-middle th{
	vertical-align: middle;}
	
#content-head {	
	/* box-shadow: 0 0 20px #000 inset; */
	color: #FFF;
	padding: 30px;}
	#content-head .hero-unit {
		background: transparent;}
	#content-head h1, #content-head h2 {
		color: #FFF;
		font-weight: 200;}
		#content-head h1 {
			border: 0;
			font-size: 4em;
			line-height: 1em;
			margin: 0;}


.container-fluid {
	max-width: 940px;
	margin: 0 auto;
}

// ====================== Bootstrap

#content-head {
	> div { @extend .container-fluid; }
}

#page {
	> div { @extend .container-fluid; }

	background: #FAFAFA;
	border-bottom: 1px solid #DDD;
	margin-bottom: 30px;
	
	a {
		display: inline-block;
		padding: 10px 15px;
	}
	a:hover { background: #EEE; }

	.right {
		float: right;
		overflow: show;
		
		span {
			display: inline-block;
			padding: 10px 15px;
		}
	}
	img {
		display: inline-block;
		height: 1em;
		margin-top: -5px;
		padding: 0 10px;
	}
}

.gamerboxes {
	ul { @extend .thumbnails; }
	ul > li { @extend .span4; margin: 0 5px 0 0; }
	div { @extend .thumbnail; background: #333; }
	li div h2 { @extend .caption; color: #FFF; font-size: 60px; font-weight: normal; margin-bottom: 0; }
	span { display: block; font-size: 30px; line-height: 40px; }

	@extend .row-fluid;
	
	margin: 0 0 30px 0;
}

#content {
	> div { @extend .row; }

	@extend .container-fluid;	
}


header.main {
	> div { @extend .navbar-inner; }
	> div > div { @extend .container-fluid; }
	> div > div > div { @extend .btn-group, .pull-right; }
	ul { @extend .dropdown-menu; }

	@extend .navbar;
	@extend .navbar-fixed-top;
	@extend .navbar-inverse;	
}

ul.thumbnails {
	margin: 0;
}

.pill-bar {
	@extend .nav, .nav-pills;
	a {
	}
}

// ====================== Grades

.scale {
	margin: 0 0 30px;}
	.scale .grade {
		float: left;
		margin: 0 5px 5px 0;}
	.scale .button {
		margin: 0.5em;
		width: 0.9em;
		text-align: center;}

.grade {
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: 10px;}
	.grade .letter {
		font: normal 2em Verdana, Arial, Helvetica, sans-serif;}
	.grade .percentage {
		font: normal 1em Verdana, Arial, Helvetica, sans-serif;}
		.grade .percentage:after {
			content: "%";}
	.grade.a	{background: #7FAF1B; color: #FFF;}
	.grade.b 	{background: #A1DC40; color: #FFF;}
	.grade.c 	{background: #FBB829; color: #FFF;}
	.grade.d 	{background: #FF6600; color: #FFF;}
	.grade.f 	{background: #F02311; color: #FFF;}
	.grade.na	{background: #222222; color: #FFF;}

.courses a {
	display: block;
	margin-bottom: 10px;}
	.courses a .grade {
		width: 20px;
		margin-right: 10px;}
	.courses a.assignment-type {
		margin-left: 15px;}
		.courses a.assignment-type .grade {
			padding: 5px;
			width: 15px;}