@import "bootstrap";

body {
	margin-top: 40px;
	margin-bottom: 50px;}
	aside {}

ul {
	margin-left: 50px;}

p {
	line-height: 1.85em;
}

.input-prepend {
	margin-bottom: 10px;}

div.dropdown-menu {
	padding: 15px 15px 0;}

.table-middle td , .table-middle th{
	vertical-align: middle;}
	
#content-head {	
	/* box-shadow: 0 0 20px #000 inset; */
	color: #FFF;
	padding: 40px;
	margin-bottom: 40px;}
	#content-head .hero-unit {
		background: transparent;}
	#content-head h1, #content-head h2 {
		color: #FFF;
		font-weight: 200;}
		#content-head h1 {
			border: 0;
			font-size: 4em;
			line-height: 1em;
			margin: 0;}


.container-fluid {
	max-width: 940px;
	margin: 0 auto;
}

.hide {
	display: none;
}

input[type="submit"] {
	display: block;
	@extend .btn;
	@extend .btn-primary;
}

// ====================== Questions/Expand
.question {
	.answer { display: inline-block; margin: 0 15px 0 0; }
	.expand { clear: left; display: block; margin-bottom: 10px; margin-left: 20px; }
	p { display: inline-block; margin-bottom: 20px; }

	clear: left;
}

.clear-left {
	clear: left;
}


// ====================== Bootstrap

#content-head {
	> div { @extend .container-fluid; }
}

textarea {
	height: 75px;
	width: 300px;
	margin-bottom: 20px;
}

form input[rel="popover"] {
	display: block;
	margin-bottom: 20px;
}

form input[type="submit"] {
	clear: left;
	margin-top: 15px;
}

td > input[type="number"] {
	margin-bottom: 0;
}

input.small {
	width: 50px;
}

.popover span {
	display: block;
	font-size: 12px;
	font-style: italic;
}

.nav .subtext {
	padding: 3px 0 3px 15px;
	color: #888;
}

.auto-size {
	width: auto;
}

tbody tr th:first-child {
	text-align: right;
}

.nav span {
	@extend .pull-right;
}

aside > ul {
	@extend .nav;
	@extend .nav-list;
	
	li:first-child {
		@extend .nav-header;
		
		background: #EEE;
		border-bottom: 1px solid $tableBorder;
		margin-bottom: 5px;
		text-shadow: none;
	}

	.active > a {
		background-color: inherit;
		color: $blue;
		font-weight: bold;
		text-shadow: none;
	}
	
	.active > a:hover {
		background-color: #EEE;
		color: #005580;
		text-shadow: none;
	}

	background: 0;
	border: 1px solid $tableBorder;
	border-radius: 4px;
	margin-bottom: $gridGutterWidth768;
	padding-bottom: 5px;
}

aside .courses .active {
	font-weight: inherit;
}

.table-hover {
	.btn {
		opacity: 0;
	}

	tr:hover .btn {
		opacity: 1;
	}
}

aside h2 {
	color: #666;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
}

// ============================ Action Menu
.action-menu {
	ul {
		@extend .nav;
		@extend .nav-list;
	}

	@extend .well;
	@extend .pull-right;
	
	padding: 8px 0 0;
}

// ============================ Gamerboxes
.gamerboxes {
	ul { @extend .thumbnails; }
	ul > li { @extend .span4; margin: 0 5px 0 0; }
	div { @extend .thumbnail; background: #333; }
	li div h2 { @extend .caption; color: #FFF; font-size: 60px; font-weight: normal; margin-bottom: 0; }
	span { display: block; font-size: 30px; line-height: 40px; }

	@extend .row-fluid;
	
	margin: 0 0 30px 0;
}

#content {
	> div { @extend .row; }

	@extend .container-fluid;	
}

header.main {
	> div { @extend .navbar-inner; }
	> div > div { @extend .container-fluid; }
	> div > div > div { @extend .btn-group, .pull-right; }
	ul { @extend .dropdown-menu; }
	ul a { padding: 3px 13px; }
	ul a i { margin-right: 7px; }

	@extend .navbar;
	@extend .navbar-fixed-top;
	@extend .navbar-inverse;	
}

ul.thumbnails {
	margin: 0;
}

.pill-bar {
	@extend .nav, .nav-pills;
}

// ====================== Grades
$a-color: #7FAF1B;
$b-color: #A1DC40;
$c-color: #FBB829;
$d-color: #FF6600;
$f-color: #F02311;
$na-color: #222222;

.scale {
	margin: 0 0 30px;}
	.scale .grade {
		float: left;
		margin: 0 5px 5px 0;}
	.scale .button {
		margin: 0.5em;
		width: 0.9em;
		text-align: center;}

.grade {
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: 10px;}
	.grade .letter {
		font: normal 2em Verdana, Arial, Helvetica, sans-serif;}
	.grade .percentage {
		font: normal 1em Verdana, Arial, Helvetica, sans-serif;}
		.grade .percentage:after {
			content: "%";}
	.grade.a	{ background: $a-color; color: #FFF;}
	.grade.b 	{ background: $b-color; color: #FFF;}
	.grade.c 	{ background: $c-color; color: #FFF;}
	.grade.d 	{ background: $d-color; color: #FFF;}
	.grade.f 	{ background: $f-color; color: #FFF;}
	.grade.na	{ background: $na-color; color: #FFF;}
	.grade.spacer { opacity: 0; padding: 0 33.5px;}
	
	.a	{ color: $a-color; }
	.b 	{ color: $b-color; }
	.c 	{ color: $c-color; }
	.d 	{ color: $d-color; }
	.f 	{ color: $f-color; }
	.na	{ color: $na-color; }