@import "bootstrap";

body {
	margin-top: 40px;
	margin-bottom: 50px;}
	aside {}

ul {
	margin-left: 50px;}

p {
	line-height: 1.85em;
	margin-bottom: 30px;
}

footer {
	margin-top: 30px;
}

.input-prepend {
	margin-bottom: 10px;}

div.dropdown-menu {
	padding: 15px 15px 0;}

.table-middle td , .table-middle th{
	vertical-align: middle;}
	
#content-head {	
	.hero-unit { background: transparent; }
	h1, h2 { color: #FFF; font-weight: 200; }
	h1 { font-size: 4em; line-height: 1em; margin: 0;}
	h2 { margin: 0; opacity: 0.75; }
	
	color: #FFF;
	padding: 40px 0;
	margin-bottom: 40px;
	
}


.container-fluid {
	max-width: 940px;
	margin: 0 auto;
}

.hide {
	display: none;
}

.nowrap, .nowrap td {
	white-space: nowrap;
}

input[type="submit"] {
	display: block;
	@extend .btn;
	@extend .btn-primary;
}

// ====================== Questions/Expand
.question {
	.answer { display: inline-block; margin: 0 15px 0 0; }
	.expand { clear: left; display: block; margin-bottom: 10px; margin-left: 20px; }
	p { display: inline-block; margin-bottom: 20px; }

	clear: left;
}

.clear-left {
	clear: left;
}


// ====================== Bootstrap

#content-head {
	> div { @extend .container-fluid; }
}

textarea {
	height: 75px;
	width: 300px;
	margin-bottom: 20px;
}

form input[rel="popover"] {
	display: block;
	margin-bottom: 20px;
}

form input[type="submit"] {
	clear: left;
	margin-top: 15px;
}

td > input[type="number"] {
	margin-bottom: 0;
}

input.small {
	width: 50px;
}

.popover span {
	display: block;
	font-size: 12px;
	font-style: italic;
}

.nav .subtext {
	padding: 3px 0 3px 15px;
	color: #888;
}

.auto-size {
	width: auto;
}

tbody tr th:first-child {
	text-align: right;
}

.nav span {
	@extend .pull-right;
}

aside > ul {
	@extend .nav;
	@extend .nav-list;
	
	li:first-child {
		@extend .nav-header;
		
		background: #EEE;
		border-bottom: 1px solid $tableBorder;
		margin-bottom: 5px;
		text-shadow: none;
		
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.active > a {
		background-color: inherit;
		color: $blue;
		font-weight: bold;
		text-shadow: none;
	}
	
	.active > a:hover {
		background-color: #EEE;
		color: #005580;
		text-shadow: none;
	}

	background: 0;
	border: 1px solid $tableBorder;
	border-radius: 4px;
	margin-bottom: $gridGutterWidth768;
	padding-bottom: 5px;
}

aside .courses .active {
	font-weight: inherit;
}

.table-hover {
	.btn {
		opacity: 0;
	}

	tr:hover .btn {
		opacity: 1;
	}
	
	.dropdown-menu .btn {
		opacity: 1;
		display: inline-block;
	}
}

aside h2 {
	color: #666;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
}

// ============================ Action Menu
.action-menu {
	ul {
		@extend .nav;
		@extend .nav-list;
	}

	@extend .well;
	@extend .pull-right;
	
	padding: 8px 0 0;
}

// ============================ Accordian
.accordion-heading {
	background: #EEE;}
	
	.accordion-toggle {
		color: #888;}
		.accordion-toggle:hover {
			text-decoration: none;
			font-weight: bold;
			color: #666;}
			
// ============================ Gamerboxes
.gamerboxes {
	ul { @extend .thumbnails; }
	ul > li { @extend .span4; margin: 0 5px 0 0; }
	div { @extend .thumbnail; background: #222; border: 0; }
	li div h2 { @extend .caption; color: #FFF; font-size: 60px; font-weight: normal; margin-bottom: 0; }
	span { display: block; font-size: 30px; line-height: 40px; }

	@extend .row-fluid;
	
	margin: 0 0 30px 0;
}

#content {
	@extend .container-fluid;
}

header.main {
	> div { @extend .navbar-inner; }
	> div > div { @extend .container-fluid; }
	> div > div > div { @extend .btn-group, .pull-right; }
	ul { @extend .dropdown-menu; }
	ul a { padding: 3px 13px; }
	ul a i { margin-right: 7px; }
	.version { color: #666; font-size: 12px; margin-top: 2px; margin-bottom: -2px; }
	.brand span { background: url(/assets/logo.png) 100% no-repeat; background-size: 100%; display: block; font-size: 0; min-height: 20px; min-width: 150px; opacity: 0.75; }
	.brand:hover span { opacity: 1; }

	@extend .navbar;
	@extend .navbar-fixed-top;
	@extend .navbar-inverse;	
}

ul.thumbnails {
	margin: 0;
}

.pill-bar {
	@extend .nav, .nav-pills;
}

// ====================== Course Assignments
.tab-content{
	overflow:visible;}

// ====================== Grades
$a-color: #7FAF1B;
$b-color: #A1DC40;
$c-color: #FBB829;
$d-color: #FF6600;
$f-color: #F02311;
$na-color: #222222;

.scale {
	margin: 0 0 30px;}
	.scale .grade {
		float: left;
		margin: 0 5px 5px 0;}
	.scale .button {
		margin: 0.5em;
		width: 0.9em;
		text-align: center;}

.grade {
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: 10px;}
	.grade .letter {
		font: normal 2em Verdana, Arial, Helvetica, sans-serif;}
	.grade .percentage {
		font: normal 1em Verdana, Arial, Helvetica, sans-serif;}
		.grade .percentage:after {
			content: "%";}
	.grade.a	{ background: $a-color; color: #FFF;}
	.grade.b 	{ background: $b-color; color: #FFF;}
	.grade.c 	{ background: $c-color; color: #FFF;}
	.grade.d 	{ background: $d-color; color: #FFF;}
	.grade.f 	{ background: $f-color; color: #FFF;}
	.grade.na	{ background: $na-color; color: #FFF;}
	.grade.spacer { opacity: 0; padding: 0 33.5px;}
	
	.a	{ color: $a-color; }
	.b 	{ color: $b-color; }
	.c 	{ color: $c-color; }
	.d 	{ color: $d-color; }
	.f 	{ color: $f-color; }
	.na	{ color: $na-color; }

// ====================== Grade Report
.report {
	h1 { font-size: 20px; margin-bottom: 0; margin-top: 50px; }
	h1 small { font-size: 18px; @extend .pull-right; margin-top: 12px;}
	h2 { font-size: 15px; margin: 0 0 0 50px; }
	h2 small { font-size: 13px; @extend .pull-right; margin-top: 12px; }
	ul { list-style-type: none; margin: 0 0 15px 100px; }

	h1:first-child { margin-top: 0; }
	h1 span { @extend .grade; font-size: 15px; float: left; line-height: 1em; margin-top: 3px; margin-right: 10px; padding: 10px; }
	h2 span, ul span { display: inline-block; width: 20px; }	
}

.main-content {
	float: left;
	margin-left: 5%;
	width: 71%;
}

// ====================== Calendar
.calendar {
	ul li {
		text-align: left;
		white-space: nowrap;
	}
	
	.tooltip {
		color: $blue;
	}

	
	table {
		table-layout: fixed;
	}

	table td {
		overflow: hidden;
		width: 14.3%;
	}
}



// ====================== Mobile CSS
@media (max-width: 480px) {
	header.main .version { display: none; }

	#content > div {
		aside {
			max-width: 100%;
			margin-bottom: 30px;
			width: 100%;
		}

		.main-content {
			margin-left: 0;
			width: 100%;
		}

		.gamerboxes ul li {
			width: 100%;
			
			h2 {
				font-size: 30px;
				margin: 0;
			}
			
			span {
				display: inline;
				font-size: 20px;
			}
		}
	}
	
	.table-hover .btn {
		opacity: 1;
	}
	
	.calendar {
		thead { display: none; }
		tbody, tr, table td { display: block; height: auto; width: 100%; }
		td { border: 0; padding: 0; }
		td > div { border: 1px solid #DDD; border-radius: 4px; margin-bottom: 20px; padding: 6px; }
		td .empty { display: none; }
		.day { display: inline-block; float: right; }
		
		td header {
			background: #EEE;
			font: bold 11px 'Helvetica Neue', Helvetica, Arial, sans-serif;
			margin: -6px -6px 0px -6px;
			padding: 6px 15px;
			text-transform: uppercase;
		}
	}
}

// ====================== Printable CSS
@media print {
	body { margin: 0; }
	#content > div > aside, footer, header.main { display: none; }
	#content, #content-head div { max-width: 100%; padding: 0; }
	#content div { margin-left: 0; }
	header#content-head {
		h1 { color: #333; }
		h2 { color: #AAA; }

		background: $white;
		margin-bottom: 0;
		padding: 0 0 20px;
	}

	.report {
		h1 { margin-top: 25px; }
		ul { margin-bottom: 5px; margin-left: 140px; }
		h2 { margin-left: 75px; }
		h2 span { width: 50px; }
		ul span { width: 45px; }
	}

	.a:after { content: " (A)"; }
	.b:after { content: " (B)"; }
	.c:after { content: " (C)"; }
	.d:after { content: " (D)"; }
	.f:after { content: " (F)"; }
}