.citrus {
	#content-head {
		background: #FA6900;
		background-image: linear-gradient(left , #FA6900 22%, #F38630 81%);
		background-image: -o-linear-gradient(left , #FA6900 22%, #F38630 81%);
		background-image: -moz-linear-gradient(left , #FA6900 22%, #F38630 81%);
		background-image: -webkit-linear-gradient(left , #FA6900 22%, #F38630 81%);
		background-image: -ms-linear-gradient(left , #FA6900 22%, #F38630 81%);
		background-image: -webkit-gradient(linear, left, right, color-stop(0.22, #FA6900), color-stop(0.81, #F38630));
		
		border-bottom: 10px solid #FAE500;
		margin-bottom: 30px;
		
		h1, h2 { font-family: Permanent Marker; }
	}

	//aside > ul li:first-child { background: #7FAF1B; color: #FFF; }
	//.gamerboxes div { background: #7FAF1B; }
}

.darkwood {
	#content-head {
		background-image: url(/assets/themes/darkwood.jpg);
		font-family: Rockwell;

		//-webkit-box-shadow: inset 5px 5px 5px 5px #000;
		box-shadow: inset 0 0 50px 0 #000;
	}
	
	h1, h2, h3, h4, h5, h6 { font-family: Rockwell; }
	aside > ul { background: #EEE; }
	aside > ul li:first-child { background: #222; color: #FFF; }
	aside > ul li a:hover { background: #FFF; }
}

.canvas {
	#content-head {
		background-image: url(/assets/themes/canvas.jpg);
		
		h1, h2 { color: #1D1305; }
	}
	
	h1, h2, h3, h4, h5, h6 { color: #1D1305; font-family: Stencil, serif; }
	aside > ul li:first-child { background: #E9E3D5; color: #1D1305; font-family: Stencil, serif; font-size: 150%;}
	.gamerboxes span { font-size: 26px; }
	.gamerboxes div { background:  #E9E3D5; }
	.gamerboxes h2 { color: #1D1305; }
}

.snowpurple {
	#content-head {
		background: #180942;
		background-image: linear-gradient(left , #180942 22%, #73166D 81%);
		background-image: -o-linear-gradient(left , #180942 22%, #73166D 81%);
		background-image: -moz-linear-gradient(left , #180942 22%, #73166D 81%);
		background-image: -webkit-linear-gradient(left , #180942 22%, #73166D 81%);
		background-image: -ms-linear-gradient(left , #180942 22%, #73166D 81%);
		background-image: -webkit-gradient(linear, left, right, color-stop(0.22, #180942), color-stop(0.81, #73166D));
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: Lato;
		font-weight: 300;
	}
}

.darkness {
	#content-head {
		background: #000;
		background-image: url(/assets/themes/darkness.png);
	}
	
	h1, h2, h3, h4, h5, h6 { font-family: Old Standard TT; }
	aside > ul li:first-child { background: #111; color: #FFF; }
	.gamerboxes div { background: #111; }
}

.pond {
	#content-head {
		background: #69D2E7;
		background-image: linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: -o-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: -moz-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: -webkit-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: -ms-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: -webkit-gradient(linear, left, right, color-stop(0.22, #69D2E7), color-stop(0.81, #A7DBD8));
	}
}

.goldfish {
	#content-head {
		background: #69D2E7;
		background-image: url(/assets/themes/goldfish.png), linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: url(/assets/themes/goldfish.png), -o-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: url(/assets/themes/goldfish.png), -moz-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: url(/assets/themes/goldfish.png), -webkit-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: url(/assets/themes/goldfish.png), -ms-linear-gradient(left , #69D2E7 22%, #A7DBD8 81%);
		background-image: url(/assets/themes/goldfish.png), -webkit-gradient(linear, left, right, color-stop(0.22, #69D2E7), color-stop(0.81, #A7DBD8));
		background-position: top right;
		background-repeat: no-repeat;
	}
}

.condensed {
	#content-head {
		height: 1px;
		overflow: hidden;
		opacity: 0;
		padding: 0;
	}
}

.whiteness {
	#content-head {
		h1 { color: #333; }
		h2 { color: #AAA; }

		background: inherit;
		margin-bottom: 0;
	}
}

// ========================================== Marked for Removal
.cheerupemokid {
	#content-head {
		background: #4ECDC4;
		background-image: linear-gradient(left , #4ECDC4 20%, #C7F464 50%, #FF6B6B 80%);
		background-image: -o-linear-gradient(left , #4ECDC4 20%, #C7F464 50%, #FF6B6B 80%);
		background-image: -moz-linear-gradient(left , #4ECDC4 20%, #C7F464 50%, #FF6B6B 80%);
		background-image: -webkit-linear-gradient(left , #4ECDC4 20%, #C7F464 50%, #FF6B6B 80%);
		background-image: -ms-linear-gradient(left , #4ECDC4 20%, #C7F464 50%, #FF6B6B 80%);
		background-image: -webkit-gradient(linear, left, right, color-stop(0.20, #4ECDC4), color-stop(0.50, #C7F464), color-stop(0.80, #FF6B6B));
	}
}

.wasabisuicide {
	#content-head {
		background: #D4EE5E;
		background-image: linear-gradient(left , #D4EE5E 22%, #FF4242 81%);
		background-image: -o-linear-gradient(left , #D4EE5E 22%, #FF4242 81%);
		background-image: -moz-linear-gradient(left , #D4EE5E 22%, #FF4242 81%);
		background-image: -webkit-linear-gradient(left , #D4EE5E 22%, #FF4242 81%);
		background-image: -ms-linear-gradient(left , #D4EE5E 22%, #FF4242 81%);
		background-image: -webkit-gradient(linear, left, right, color-stop(0.22, #D4EE5E), color-stop(0.81, #FF4242));
	}
}

.atomicbikini {
	#content-head {
		h1, h2 { color: #333; }

		background: #8FBE00;
		background-image: url(/assets/themes/atomicbikini.png), linear-gradient(left , #8FBE00 22%, #AEE239 81%);
		background-image: url(/assets/themes/atomicbikini.png), -o-linear-gradient(left , #8FBE00 22%, #AEE239 81%);
		background-image: url(/assets/themes/atomicbikini.png), -moz-linear-gradient(left , #8FBE00 22%, #AEE239 81%);
		background-image: url(/assets/themes/atomicbikini.png), -webkit-linear-gradient(left , #8FBE00 22%, #AEE239 81%);
		background-image: url(/assets/themes/atomicbikini.png), -ms-linear-gradient(left , #8FBE00 22%, #AEE239 81%);
		background-image: url(/assets/themes/atomicbikini.png), -webkit-gradient(linear, left, right, color-stop(0.22, #8FBE00), color-stop(0.81, #AEE239));
		background-position: center left;
		background-repeat: no-repeat;
	}
}

.wordless {
	#content-head {
		background: #8FBE00;
		background-image: linear-gradient(left , #8FBE00 22%, #F2E9E1 81%);
		background-image: -o-linear-gradient(left , #8FBE00 22%, #F2E9E1 81%);
		background-image: -moz-linear-gradient(left , #8FBE00 22%, #F2E9E1 81%);
		background-image: -webkit-linear-gradient(left , #8FBE00 22%, #F2E9E1 81%);
		background-image: -ms-linear-gradient(left , #8FBE00 22%, #F2E9E1 81%);
		background-image: -webkit-gradient(linear, left, right, color-stop(0.22, #8FBE00), color-stop(0.81, #F2E9E1));
	}
}